@import '../../scss/color.scss';

.skills-pane {
  color: $blue;
  margin-bottom: 6.25rem;
}

.skills-pane--skillset-name {
  margin-bottom: 1.375rem;
}

.skills-pane--skillset-item {
  margin-bottom: 2rem;
}
