@import '../../scss/color.scss';

// We need the exact measurements of the width and the height of the clip path
// to "frame" the profile picture.
$clip-path-width: 1623px;
$clip-path-height: 1027px;

.about-pane-background--background-container {
  clip-path: url(#about-pane-background-clip);
  height: $clip-path-height;
  position: relative;
  width: $clip-path-width;
}

.about-pane-background--background {
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%;
  background: linear-gradient(
    273.08deg,
    $light-orange 34.73%,
    $light-blue 77.65%
  );
}
