@import '../../scss/color.scss';

.intro-pane {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.intro-pane--content {
  bottom: 0;
  color: $blue;
  margin-bottom: 3rem;
  position: absolute;
}

.intro-pane--greetings {
  margin-bottom: 2rem;
}

.intro-pane--intro {
  margin-bottom: 2rem;
}

.intro-pane--profile-picture {
  display: block;
  position: absolute;
  right: -2rem;
  top: 6.25rem;
  width: 55%;
  max-width: 46.25rem;
  z-index: -1;
}

.intro-pane--profile-picture-inline {
  display: none;
  margin-top: 6.25rem;
  width: 55%;
}

.intro-pane--greetings-paragraph {
  background-color: $matte;
}

.intro-pane--intro-paragraph {
  background-color: $matte;
}

@media (max-width: 991.98px) {
  .intro-pane {
    height: auto;
  }

  .intro-pane--profile-picture {
    display: none;
  }

  .intro-pane--profile-picture-inline {
    display: block;
  }

  .intro-pane--content {
    bottom: inherit;
    margin-bottom: 3rem;
    position: relative;
  }
}
