@import '../../scss/color.scss';

.intro-pane {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.intro-pane--content {
  bottom: 0;
  color: $blue;
  margin-bottom: 3rem;
  position: absolute;
}

.intro-pane--greetings {
  margin-bottom: 2rem;
}

.intro-pane--intro {
  margin-bottom: 2rem;
}

.intro-pane--profile-picture {
  position: absolute;
  right: -2rem;
  top: 6.25rem;
  width: 46.25rem;
  z-index: -1;
}
