@import '../../scss/color.scss';

// We need the exact measurements of the width and the height of the clip path
// to "frame" the profile picture.
$clip-path-width: 1623px;
$clip-path-height: 1027px;

.about-pane {
  overflow: visible;
  position: relative;
  margin-bottom: 6.25rem;
}

.about-pane--text {
  color: $blue;
  margin-top: 10rem;
  margin-bottom: 10rem;
  position: relative;

  h6 {
    margin-bottom: 1.875rem;
  }

  a {
    color: $blue;

    transition: color 0.1s linear;
  }

  a:hover {
    color: $orange;
  }
}

.about-pane--background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(2.2) translateX(5%);
  transform-origin: center center;
  z-index: -2;
}
